@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

body {
    background-color: hsl(228, 33%, 97%);
    box-sizing: border-box;
    padding: 3%;
    overflow-x: hidden;
}

@layer components {
    .main {
        @apply flex items-center justify-center;
    }

    .container {
        @apply max-w-3xl h-auto flex flex-col gap-4;
    }
}